body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.control-panel{
    width : 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.color-card{

}

.color{
    width : 7rem;
    height: 7rem;
}

#cyan{
    background-color: cyan;
}
#red{
   background-color: red;
}
#yellow{
    background-color: yellow;
}