body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height : 100vh

}

.control-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position:absolute;
    z-index : 2;
    margin-top: 70vh;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: solid slategray 1px;
}

.color-card{
    border: 1px slategray solid;
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.3rem
}

.color{
    width : 5rem;
    height: 5rem;
    border-radius: 0.2rem;
}

.change-color{
    margin-top: 0.5rem;
    width: 100%;   
    background-color: rgba(36,160,237,0.9);
    border : none;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}


#cyan{
    background-color: cyan;
}
#red{
   background-color: red;
}
#yellow{
    background-color: yellow;
}